<body>
    <div class="container">
      

      <div class="row justify-content-center">
        <div class="col-4">

          <br/><br/><br/><br/><br/>
          <div class="card">
            <h5 class="card-header text-center">Ya tienes cuenta?</h5>
            <div class="card-body p-4 bg-light">
          
                <div *ngIf="usuarios!=undefined && usuarios.length>0">
                  <form>
                    <label for="email" style="float: left">Email</label>
                    <input type="email" class="form-control m-2" id="email" name="email" placeholder="Email" [(ngModel)]="email"  autocomplete="off">              
                    <label for="password" style="float: left">Password</label>
                    <input type="password" class="form-control m-2" id="password" name="password" placeholder="Password" [(ngModel)]="password" autocomplete="off">
            
                  </form>
                </div>
                
               <p class="text-danger text-center"><b>{{mensajeError}}</b></p>

                <div style="text-align: center;">
                <button  [@openClose]="isOpen ? 'open' : 'closed'" type="button"  class="btn m-2 btn-md btn-success"  (click)="ingresar()"><b>Ingresar</b></button>
                </div>


            </div>
          </div>
        </div>


        <div class="col-4">

          <br/><br/><br/><br/><br/>

          <div class="card">
              <h5 class="card-header text-center">Elige el perfil</h5>
              <div class="card-body scroll" style="text-align: center;">
             <div *ngIf="!spinner">

                <div *ngFor="let usuario of usuariosAcceso">
                  <button type="button" class="btn m-2 btn-lg" style="background-color: #88abc2; width: 150px; height: 150px; text-align: center;" (click)="autocompletar(usuario)">
                     <small>{{usuario.perfil}}</small>
                    <img [src]="usuario.imagenURL" style="width: 90px; height: 90px;">
                  </button><br/>
                </div>     
            </div>
            </div>


            <div *ngIf="spinner" class="spinner-container text-center mb-4">
              <img src="../../../../assets/img/spinner.png"alt="spinner">
            </div>


          </div>

          




        </div>
      </div>



      


    </div>
</body>



  