<body>
    <div class="container">
      

      <div class="row justify-content-center">
        <div class="col-4">

          <br/><br/><br/><br/><br/>
          <div class="card">
            <h5 class="card-header text-center">Ya tienes cuenta?</h5>
            <div class="card-body p-4 bg-light">
          
                <div *ngIf="usuarios!=undefined && usuarios.length>0">
                  <form>
                    <label for="email" style="float: left">Usuario</label>
                    <input type="email" class="form-control m-2" id="email" name="email" placeholder="Email" [(ngModel)]="email"  autocomplete="off">              
                    <label for="password" style="float: left">Password</label>
                    <input type="password" class="form-control m-2" id="password" name="password" placeholder="Password" [(ngModel)]="password" autocomplete="off">
            
                  </form>
                </div>
                
               

                <div style="text-align: center;">
                <button style="background-color: #caff42;"type="submit" class="btn m-2" (click)="ingresar()">Ingresar</button>
                </div>


            </div>
          </div>
        </div>


        <div class="col-4">

          <br/><br/><br/><br/><br/>

          <div class="card">
              <h5 class="card-header text-center">Elige el perfil</h5>
              <div class="card-body" style="text-align: center;">
             <div *ngIf="!spinner">

                <div *ngFor="let usuario of usuariosAcceso">
                  <button type="button" class="btn m-2 btn-lg" style="background-color: #88abc2;" (click)="autocompletar(usuario)">
                    {{ usuario.nombre }} - {{usuario.perfil}}
                    <img *ngIf="usuario.perfil === 'Paciente' || usuario.perfil === 'Administrador'" [src]="usuario.imagenURL" style="width: 40px; height: 40px; border-radius: 50%;">
                  </button><br/>
                </div>     
            </div>
            </div>


            <div *ngIf="spinner" class="spinner-container text-center mb-4">
              <img src="../../../../assets/img/spinner.png"alt="spinner">
            </div>


          </div>

          




        </div>
      </div>



      


    </div>
</body>



  