<body>
    
    <div class="container">
     <app-navbar> </app-navbar> 
        <br/><br/>
        <h1 class="text-center">Menú Principal</h1><br/><br/>

        <div class="row justify-content-center mt-2">
            <div class="col-6 text-center">
                
              <div class="card">
                <h5 class="card-header">Mis Turnos</h5>
                <div class="card-body">
                  <p class="card-text">En esta sección podrás ver todos tus turnos</p>
                  <button routerLink="/mis-turnos" class="btn " style="background-color: #88abc2;"><b>Ir a Mis Turnos</b></button>
                </div>
              </div>
             
            </div>
          </div>

          <div class="row justify-content-center mt-2">

            <div class="col-6  text-center">
              <div class="card">
                <h5 class="card-header">Solicitar Turnos</h5>
                <div class="card-body">
                  <p class="card-text">En esta sección podrás solicitar nuevos turnos</p>
                  <button class="btn" routerLink="/solicitar-turno" style="background-color:#88abc2;"><b>Solicitar Turno</b></button>
                </div>
              </div>
            </div>
          </div>
          
          
          <div class="row justify-content-center mt-2">

            <div class="col-6 text-center">

              <div class="card">
                <h5 class="card-header">Mi Perfil</h5>
                <div class="card-body">
                  <p class="card-text">En esta sección podrás ver tu información de usuario</p>
                  <button routerLink="/mi-perfil" class="btn" style="background-color: #88abc2;"><b>Ir a Mi Perfil</b></button>
                </div>
              </div>
    
            </div>
        </div>

        <div class="row justify-content-center mt-2">

          <div class="col-6 text-center">

            <div class="card">
              <h5 class="card-header">Historia Clinica</h5>
              <div class="card-body">
                <p class="card-text">En esta sección se cargará la historia clinica del Paciente</p>
                <button routerLink="/carga-historia-clinica" class="btn" style="background-color: #88abc2;"><b>Ir a Hist.Clinica</b></button>
              </div>
            </div>
  
          </div>
      </div>
      <br/><br/><br/>

        <div class="adminIconContainer" routerLink="/seccion-usuarios" style="background-color: #88abc2;">
          <img src="../../../assets/img/admin.png" alt="" class="adminIcon" >
        </div>

    </div>
</body>