<body>
    
    <div class="container">

        <br/><br/>
        <h1 class="text-center">Gestión de Turnos de La Clínica</h1>

        <div class="row justify-content-center mt-5">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body  text-center">
                      <h5 class="card-title ">Mis Turnos</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body  text-center">
                      <h5 class="card-title ">Turnos</h5>
                      <p class="card-text ">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body  text-center">
                      <h5 class="card-title  ">Solicitar Turnos</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body  text-center" >
                      <h5 class="card-title ">Mi perfil</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <button routerLink="/mi-perfil" class="btn btn-primary">Ir a Mi Perfil</button>
                    </div>
                  </div>
            </div>
        </div>

    




    </div>
</body>