<body>
    <div class="container">

        <br/><br/>
  
  
        
      <div class="row mb-4">
        <div class="col-3"></div>
        
        <div class="col-6">

              <div class="row"> 
                  <div class="card " style="background-color: #eee;">
                    <div class="card-body">
                      <h5 class="card-title">Filtrar tabla</h5>
                      <input class="form-control mt-2" name="detalleFiltro" type="text" [(ngModel)]="detalleFiltro" (keyup.enter)="filtrarTabla()">
                    </div>
                  </div>
                </div>
            <div style="text-align: center;">
            <button class="btn btn-sm btn-danger mt-3 mb-2" (click)="eliminarFiltro()">Eliminar Filtros</button>
          </div>
          </div>

 
        <div class="col-3"></div>


      </div>

        <hr>
        <br/>
        <h3 class="text-center text-dark">Turnos</h3>
        <br/>

        <div style="max-height: 500px; overflow-y: auto;">
          <table class="table table-bordered table-light table-responsive">
            <thead>
              <tr>
                <th style="background-color: #49708a;" scope="col">#</th>
                <th class="text-center" style="background-color: #49708a;" *ngFor="let key of turnosKeys" scope="col">{{ key }}</th>
                <th class="text-center" style="background-color: #49708a;" scope="col">Historia Clínica</th>
              </tr>
            </thead>
            <tbody *ngIf="tablaFiltrada != undefined && tablaFiltrada.length > 0">
              <ng-container *ngFor="let turno of tablaFiltrada; let i = index">
                <tr>
                  <th scope="row">{{ i + 1 }}</th>
                  <td *ngFor="let key of turnosKeys" (click)="seleccionarTurno(turno)">
                    <ng-container *ngIf="key == 'reseñaCancelacion'; else otherContent">
                      <p class="text-danger">{{ turno[key] }}</p>
                    </ng-container>
                    <ng-template #otherContent>
                      <ng-container *ngIf="key == 'estado'">
                        <b>{{ turno[key] }}</b>
                      </ng-container>
                      <ng-container *ngIf="key !== 'estado' && key !== 'reseniasCancelacion'">
                        {{ turno[key] }}
                      </ng-container>
                    </ng-template>
                  </td>
                  <td *ngIf="i === 0 || turno.pacienteId !== tablaFiltrada[i - 1].pacienteId" [attr.rowspan]="contarFilasConMismoPaciente(i, turno.pacienteId)">
                    <!-- Solo mostrar la historia clínica cuando cambia el pacienteId -->
                    <div class="historia-clinica-container">
                      <ul *ngFor="let historia of encontrarUsuario(turno.pacienteId).historiaClinica">
                        <!-- Detalles de la historia clínica -->
                        <li>Altura: {{ historia.altura }}</li>
                        <li>Peso: {{ historia.peso }}</li>
                        <li>Presión: {{ historia.presion }}</li>
                        <li>Temperatura: {{ historia.temperatura }}</li>
                        <li *ngFor="let detalle of historia.detalles">
                          {{ detalle.dato }} - {{ detalle.descripcion }}
                        </li>
                        <p class="text-center text-muted">________________________</p>
                      </ul>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>


        
        <div *ngIf="mostrarBoton">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="reseña" style="background-color: #ddd;">Reseña por Cancelación </span>
                </div>
                <input type="text" class="form-control" #reseniaInput aria-label="Small" aria-describedby="inputGroup-sizing-sm">
              </div>

            <p class="text-danger" *ngIf="mensajeError!=''"><b>{{mensajeError}}</b></p>
          
            <button class="btn" style="background-color: #caff42;" (click)="cancelarTurno(reseniaInput.value)">Cancelar turno</button>
        </div>

          


        <br/><br/>
        






    </div>
</body>