<body>
    <div class="container">

        <br/><br/>
        <h3 class="text-center text-dark">Tus Turnos</h3>
        <br/>
  
  
        <div class="row mb-4">
          <div class="col-12" style="text-align: center;">
            <div class="card">
              <h5 class="card-header text-center" style="background-color: #397c9e;">Filtrar Tabla</h5>
              <div class="card-body" style="background-color: #eee;">
  
                <div class="row">
                <div class="col-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Estado</h5>
                      
                        <div class="radio-buttons-container mb-1" *ngFor="let estado of estadosFiltro">
                        <input class="mx-2" name="filtro" type="radio" [value]="estado" [(ngModel)]="opcionFiltro" (change)="filtrarTabla('estado')"> {{    estado }} <br />
                        </div>
                    </div>
                  </div>
                </div>
                
  
                <div class="col-4">
  
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Especialidad</h5>
                        <div *ngIf="especialidades != undefined && especialidades.length > 0" id="especialidad">
                          <ng-container *ngFor="let especialidad of especialidades">
                            <ng-container *ngFor="let item of especialidad.especialidades">
                              <div class="radio-buttons-container mb-1" >
                              
                               <input class="mx-2" name="filtro" type="radio" [value]="item" [(ngModel)]="opcionFiltro" (change)="filtrarTabla('especialidad')"> {{ item }} <br />
                              
                              </div>
                              </ng-container>
                          </ng-container>
                        </div>
                    </div>
                  </div>
                </div>  
  
                <div class="col-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Dia - Horario - Hist. Clinica</h5>
                      <ng-container *ngFor="let filtro of ['presion', 'altura', 'temperatura', 'detalle', 'dia', 'horario']">
                        <div class="radio-buttons-container mb-1">
                          <input class="mx-2" name="filtro" type="radio" [value]="filtro" [(ngModel)]="opcionFiltro"> {{ filtro }}
                        </div>
                      </ng-container>
                      <input class="form-control mt-2" name="detalleFiltro" type="text" [(ngModel)]="detalleFiltro" (keyup.enter)="filtrarTabla(opcionFiltro)">
                    </div>
                  </div>
                </div>
  
  
             
  
  
              </div>
                <button class="btn btn-sm btn-danger mt-3 mb-2" (click)="eliminarFiltro()">Eliminar Filtros</button>
  
              </div>
  
            </div>
          </div>
  
  
        </div>

        
        <br/><br/>
        <h3 class="text-center text-dark">Turnos</h3>
        <br/>

        <table class="table table-bordered table-light table-striped">
            <thead>
              <tr>
                <th style="background-color: #49708a;" scope="col">#</th>
                <th class="text-center" style="background-color: #49708a;" *ngFor="let key of turnosKeys" scope="col">{{ key }}</th>
                <th class="text-center" style="background-color: #49708a;" scope="col">Historia Clínica</th>
              </tr>
            </thead>
            <tbody *ngIf="tablaFiltrada != undefined && tablaFiltrada.length > 0">
              <tr *ngFor="let turno of tablaFiltrada; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td *ngFor="let key of turnosKeys" (click)="seleccionarTurno(turno)">
                  <ng-container *ngIf="key == 'estado'">
                    <b>{{ turno[key] }}</b>
                  </ng-container>
                  <ng-container *ngIf="key !== 'estado'">
                    {{ turno[key] }}
                  </ng-container>
                </td>
                <td>
                  <ng-container *ngIf="mostrarHistoriaClinica(turno)">
                    <div class="historia-clinica-container">
                      <ul *ngFor="let historia of encontrarUsuario(turno.pacienteId).historiaClinica">
                        <li>Altura: {{ historia.altura }}</li>
                        <li>Peso: {{ historia.peso }}</li>
                        <li>Presión: {{ historia.presion }}</li>
                        <li>Temperatura: {{ historia.temperatura }}</li>
                        <!-- Agregar más campos según sea necesario -->
                        <li *ngFor="let detalle of historia.detalles">
                          {{ detalle.dato }} - {{ detalle.descripcion }}
                        </li>
                        <p class="text-center text-muted">________________________</p>
                      </ul>
                    </div>
                  </ng-container>
                </td>
              </tr>
            </tbody>
          </table>


        
        <div *ngIf="mostrarBoton">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="reseña" style="background-color: #ddd;">Reseña por Cancelación </span>
                </div>
                <input type="text" class="form-control" #reseniaInput aria-label="Small" aria-describedby="inputGroup-sizing-sm">
              </div>

            <p class="text-danger" *ngIf="mensajeError!=''"><b>{{mensajeError}}</b></p>
          
            <button class="btn" style="background-color: #caff42;" (click)="cancelarTurno(reseniaInput.value)">Cancelar turno</button>
        </div>

          


        <br/><br/>
        






    </div>
</body>