body{
    background-color: #ebf7f8;
    height: 100%;
    width: 100%;

}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .spinner-container img {
    width: 50px; /* Ajusta el tamaño de la imagen spinner */
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .button-container {
    display: flex;
    justify-content: space-between; /* Adjust the justification as needed */
    margin-bottom: 10px; /* Optional margin between rows */
  }
