<body>
  <div class="container">
    
   
    <app-navbar></app-navbar>
    <h1 class="text-center mt-4">Solicitar Turnos</h1>


    <div class="card mt-5 text-center">
      <h5 class="card-header text-center" style="background-color: #88abc2;">Turnos</h5>
      <div class="card-body" style="background-color: #d0e0eb;">
        <form  #turnoForm="ngForm">
          <div class="row">
          <div class="col"></div>
          <div class="col-8">

            <br/>
              
              <label for="especialidad"><h5>Especialistas</h5></label><br/><br/>
              
              <div>
               <div *ngIf="!spinner">
  
                  <div >
                    <button *ngFor="let usuario of especialistas" type="button" class="btn my-2 mx-4 btn-lg" style="background-color: #88abc2;" (click)="seleccionarEspecialista(usuario)">
                      <img [src]="usuario.imagenURL" style="width: 100px; height: 100px;"> <br/>
                      {{ usuario.nombre }} {{usuario.apellido}}
                    </button>
                  </div>     
                </div>
  
  
                <div *ngIf="spinner" class="spinner-container text-center mb-4">
                  <img src="../../../../assets/img/spinner.png"alt="spinner">
                </div>
    
  
            </div>

            <div *ngIf="especialidadesDelEspecialista!=undefined && especialidadesDelEspecialista.length > 0">
              <hr>
              <label for="especialidad"><h5>Especialidad</h5></label> <br/><br/>
              <div class="row">

              <ng-container *ngFor="let especialidad of especialidadesDelEspecialista">

                    <div class="col">
                      <div class="row">
                        <label for="especialidad"><b>{{ especialidad }}</b></label>
                      </div>
                      <div class="row" style="text-align: center;align-items: center; justify-content: center;">

                        <button id="especialidad" type="button" class="btn my-2 btn-lg" style="background-color: #88abc2; height: 180px; width:150px" (click)="seleccionarEspecialidad(especialidad)">

                          <img [src]="getImage(especialidad)" style="width: 100px; height: 100px;"> <br/>
                        </button>
                    </div>

                    </div>

              </ng-container >
            </div>

              <br/>
            </div>
              <br/>

              <br/>
              <hr>
              <br/>

              <label for="fechaElegida"><h5>Turnos Disponibles</h5></label><br/><br/>


              <div *ngIf="fechasGeneradas !== undefined && especialidadSeleccionada != undefined">
                <p *ngIf="fechasGeneradas.length === 0" class="text-danger"><b>No hay fechas disponibles</b></p>
                

                  <div *ngFor="let fecha of fechasGeneradas">
                    <ng-container *ngIf="calcularHorariosDisponibles(fecha).length > 0">
                        <button class="btn mx-2 my-2" style="background-color: #cff07b;" (click)="seleccionarFechaHora(fecha, hora)" *ngFor="let hora of calcularHorariosDisponibles(fecha)">
                          {{fecha.anio}}-{{ fecha.mes }}-{{ fecha.dia }} <span class="text-primary">{{ hora }}</span> 
                        </button>
                    </ng-container>
                    <p *ngIf="calcularHorariosDisponibles(fecha).length === 0" class="text-danger">
                      <b>No hay horarios disponibles para {{ fecha.dia }}/{{ fecha.mes }}</b>
                    </p>
                  </div>
                </div>


              <div *ngIf="esAdmin && listadoPacientes!=undefined && listadoPacientes.length>0">
                
                <br/>
                <hr>
                <br/>
                <label for="paciente"><h5>Paciente</h5></label><br/><br/>

                <select   class="form-select" name="paciente" id="paciente" (change)="seleccionarPaciente($event)">
                  <option value="">Selecciona un Paciente</option>
                  <ng-container *ngFor="let paciente of listadoPacientes">
                    <option [value]="paciente.id">{{ paciente.nombre }} {{ paciente.apellido }} - {{paciente.dni}}</option>
                  </ng-container>
                </select>
              </div>
              <br/>
                <hr>
                <br/>

              <div style="text-align: center;">
                <p class="text-center text-primary"><b>{{mensajeConfirmacion}}</b></p>
              <button *ngIf="mensajeConfirmacion!=''" class="btn btn-lg btn-success"  (click)="aceptar(); turnoForm.resetForm()">Aceptar</button>
              </div>
              <br/><br/>

              <div *ngIf="mostrarCaptcha">
                <app-captcha (captchaStatusChange)="manejarCaptcha($event)"></app-captcha>
              </div>

            </div>
        
          <div class="col"></div>
        </div>
        </form>
      </div>

    </div>

  </div>
  <br/><br/><br/><br/> 

</body>