<body>
    
    <div    class="container">

      <app-navbar></app-navbar>
        <section *ngIf="usuarioBD!=undefined" >
            <div class="container mt-3 mb-4">
              <h2 class="text-center">Mi Perfil</h2><br/><br/>
          
              <div class="row " style="background-color: #d0e0eb;" >
                <div class="col-lg-4 " style="background-color: #b7d1e2;">
                  <div class="card mb-4 mt-4" style="background-color: #d0e0eb;">
                    <div class="card-body text-center">
                      <img *ngIf="imagenUrl!=undefined" [src]="imagenUrl" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;"> 
                      <h5 class="my-3">{{usuarioBD.nombre}}</h5>
                      <p class="text-muted mb-1">{{usuarioBD.perfil}}</p>
                      <p *ngIf="usuarioBD.perfil == 'Especialista' "class="text-muted mb-1">{{usuarioBD.especialidad}}</p>

                      
                    </div>
                  </div>
                 
                </div>
                <div class="col-lg-8" style="background-color: #b7d1e2;">
                  <div class="card mb-4 mt-4"  style="background-color: #d0e0eb;">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Nombre Completo</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{usuarioBD.nombre}} {{usuarioBD.apellido}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{usuarioBD.email}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Edad</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{usuarioBD.edad}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Dni</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{usuarioBD.dni}}</p>
                        </div>
                      </div>                      
                    </div>
                  </div>
                  <div class="row">
                   
               
                  </div>
                </div>
              </div>
            </div>
          </section>


          <div class="mt-4" *ngIf="usuarioBD != undefined && usuarioBD.perfil == 'Especialista' ">

            <div class="card ">
              <div class="card-body " style="background-color: #d0e0eb;">
                <h5 class="card-title text-center ">Defina su Disponibilidad Horaria</h5>
                <div class="input-group mb-3">

                  <div class="col"></div>
                  <div class="col-6">
                    <div class="row">
                      <div>
                        <p class="text-center" *ngIf="usuarioBD!=undefined">Su especialidad: {{ usuarioBD.especialidad }}</p>
        
                        <select  class="form-select"name="especialidad" id="" (change)="seleccionarEspecialidad($event)">
                          <option value="" disabled selected>Seleccione una Especialidad - sin disponibilidad definida</option>
                          <option *ngFor="let especialidad of especialidadesSelect" [value]="especialidad">{{ especialidad }}</option>
                        </select>

                      </div>
            

                    </div>
                  
                    <hr>

                    <div class="form-check" *ngIf="mostrarForm" style="align-items: center; justify-content: center;">
                      <div *ngFor="let dia of diasHabiles; let i = index">
                        <div class="d-flex align-items-center"> <!-- Agregar contenedor flexible -->
                          <input class="form-check-input" type="checkbox" [value]="dia" [id]="'checkDia' + i" name="diasSeleccionados" [(ngModel)]="diasSeleccionados[dia]">
                          <label for="'checkDia' + i" class="form-check-label">&nbsp;	&nbsp;<b>{{ dia }}</b></label>
                        </div>
                        <br>
                        <div *ngIf="diasSeleccionados[dia]">
                          <label for="inputIngreso_{{ dia }}">Horario Ingreso &nbsp;&nbsp;</label>
                          <input class="form-control" style="background-color: #bbc8d0;" id="inputIngreso_{{ dia }}" type="number" min="8" max="19" width="50">
                          <br/><br/>
                          <label for="inputEgreso_{{ dia }}">Horario Egreso &nbsp;&nbsp;</label>
                          <input  class="form-control" style="background-color: #bbc8d0;" id="inputEgreso_{{ dia }}" type="number" min="8" max="19">
                        </div>
                        <hr>
                      </div>
                    
                      
                      <p class="text-danger"><b>{{mensajeError}}</b></p>
                      <div style="text-align: center;">
                      <button class="btn mt-4 text-center btn-lg" style="background-color: #caff42;" (click)="definirDisponibilidad()">Aceptar</button>
                      </div>
                    </div>
                  </div>
                  <div class="col"></div>

                </div>
                <br/>

              </div>





             </div>
          </div>

          <div *ngIf="esPaciente">

            <div style="background-color: #90b9d5; text-align: center;" class="">
              <br/>
            
              <h3 class="text-center text-primary"><b>Mis Historias Clínicas</b></h3>
              <br/>
            
              <div class="row justify-content-center"> <!-- Utiliza justify-content-center para centrar las columnas -->
                <div class="col-4" *ngFor="let historia of historiaClinica">
                  <div class="card my-2 mx-2">
                    <h5 class="card-header" style="background-color: #397c9e;">Historia Clínica</h5>
                    <div class="card-body" style="background-color: #eee;">
                      <ul class="card-text text-start">
                        <li>Altura: {{ historia.altura }}</li>
                        <li>Peso: {{ historia.peso }}</li>
                        <li>Presión: {{ historia.presion }}</li>
                        <li>Temperatura: {{ historia.temperatura }}</li>
                        <li *ngFor="let detalle of historia.detalles">
                          {{ detalle.dato }} - {{ detalle.descripcion }}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <br/>
                </div>
              </div>
            </div>


          <div style="background-color: #64a5d0 ;">
            <div class="row my-4">
              <div class="col-2"></div>
              <div class="col-8 text-center">
                
                <div class="card mx-3 my-3"> 
                  <h5 class="card-header" style="background-color: #397c9e;">Seleccione una opción y descargue las atenciones realizadas por el especialista elegido</h5>

                  <div class="card-body" style="background-color: #eee;">
                  <p class="text-muted">Usted tiene turnos con los Especialistas:</p>

                    
                    <div class="radio-buttons-container mb-1" *ngFor="let especialista of especialistasFiltrados">
                        <input type="radio" ngDefaultControl name="especialistaRadio" [value]="especialista" [(ngModel)]="especialistaSeleccionado" (change)="obtenerInformacion(especialistaSeleccionado)">
                        {{ especialista.nombre }} {{ especialista.apellido }} 
                    </div>

                    
                    
                    <button class="btn btn-md btn-primary my-3" (click)="descargarTurnos()" [disabled]="especialistaSeleccionado === undefined">
                      Descargar Atenciones </button>
                  </div>
                </div>

              </div>
              <div class="col-2"></div>

            </div>
           
          </div>

          </div>



    </div>
</body>