<body>

    <div class="container text-center">
      <app-navbar></app-navbar>
        <br/><br/><br/>
        <h1 class="text-dark ">Gestion de Sistema</h1>


        <div *ngIf="mostrarCuerpo">
        <div class="row mt-5">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body" style="background-color: #ccc;">
                  <h5 class="card-title">Ver Usuarios</h5>
                  <p class="card-text">Entra aqui para ver los usuarios dados de alta y habilitar/inhabilitar a los Especialistas</p>
                  <button class="btn " (click)="usuarios()" style="background-color:#88abc2">Ver Usuarios</button>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body" style="background-color: #ccc;">
                  <h5 class="card-title">Registrar Especialista</h5>
                  <p class="card-text">Entra aqui para dar de alta a un nuevo Especialista</p>
                  <button class="btn" (click)="especialista()" style="background-color: #88abc2">Registrar Especialista</button>
                </div>
              </div>
            </div>
          </div>


          <div class="row mt-5">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body" style="background-color: #ccc;">
                  <h5 class="card-title">Registrar Paciente</h5>
                  <p class="card-text">Entra aqui para dar de alta a un nuevo Paciente</p>
                  <button [@openClose]="isOpen ? 'open' : 'closed'" type="button" class="btn" (click)="paciente()" style="background-color:#88abc2">Registrar Paciente</button>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body" style="background-color: #ccc;">
                  <h5 class="card-title">Registrar Administrador</h5>
                  <p class="card-text">Entra aqui para dar de alta a un nuevo Administador</p>
                  <button class="btn" (click)="administrador()" style="background-color:#88abc2">Registrar Administador</button>
                </div>
              </div>
            </div>
            
            <div class="row mt-5">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body" style="background-color: #ccc;">
                  <h5 class="card-title">Turnos</h5>
                  <p class="card-text">Entra aqui para administrar Turnos</p>
                  <button class="btn" (click)="turnos()" style="background-color:#88abc2">Administrar Turnos</button>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="card">
                <div class="card-body" style="background-color: #ccc;">
                  <h5 class="card-title">Historias Clinicas</h5>
                  <p class="card-text">Entra aqui para ver Historias Clinicas</p>
                  <button class="btn" (click)="historias()" style="background-color: #88abc2">Historias Clinicas</button>
                </div>
              </div>
            </div>
            </div>
            
          </div>


        </div>

        <div *ngIf="registrarEspecialista">
          <app-registro-especialista></app-registro-especialista>

            
        </div>

        <div *ngIf="registrarPaciente">
          <app-registro-paciente [@openClose]="registrarPaciente ? 'open' : 'closed'"></app-registro-paciente>
        </div>

        <div *ngIf="mostrarUsuarios">
          <app-informacion-usuarios></app-informacion-usuarios>
      </div>

      <div *ngIf="registrarAdministrador">
        <app-registro-admin></app-registro-admin>
      </div>

      <div *ngIf="mostrarTurnos">
        <app-turnos></app-turnos>
      </div>

      <div *ngIf="mostrarHistorias">
        <app-historias></app-historias>
      </div>
        











    </div>

</body>