<body>
    
    <div class="container">

        <br/><br/>
        <h3 class="text-center text-dark">Tus Turnos</h3>
        <br/>

        <table class="table table-bordered table-light" >
            <thead>
                <tr>
                    <th  style="background-color: #49708a;" scope="col">#</th>
                    <th  style="background-color: #caff42;"  *ngFor="let key of turnosKeys" scope="col">{{ key }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let turno of tablaFiltrada; let i = index" >
                    <th scope="row">{{ i + 1 }}</th>
                    <td *ngFor="let key of turnosKeys" (click)="seleccionarTurno(turno)">{{ turno[key] }}</td>
                </tr>
            </tbody>
        </table>

        <div *ngIf="mostrarBotonCancelar">
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="reseña" style="background-color: #ddd;">Reseña  </span>
              </div>
              <input type="text" class="form-control" #reseniaInput aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3" >
                <div class="input-group-prepend">
                  <span class="input-group-text" id="diagnostico" style="background-color: #ddd;">Diagnóstico  </span>
                </div>
                <input type="text" class="form-control" #diagnosticoInput aria-label="Small" aria-describedby="inputGroup-sizing-sm">
              </div>

            <p class="text-danger" *ngIf="mensajeError!=''"><b>{{mensajeError}}</b></p>
          
            
            <button *ngIf="turnoSeleccionado.estado== 'solicitado'" class="btn mx-2" style="background-color: #caff42;" (click)="cancelarTurno(reseniaInput.value)">Cancelar</button>
            <button *ngIf="turnoSeleccionado.estado== 'solicitado'" class="btn mx-2" style="background-color: #caff42;" (click)="aceptarTurno()">Aceptar</button>
            <button  *ngIf="turnoSeleccionado.estado.toLowerCase()== 'aceptado'" class="btn mx-2" style="background-color: #caff42;" (click)="finalizarTurno(reseniaInput.value, diagnosticoInput.value)">Finalizar</button>
            <button *ngIf="turnoSeleccionado.estado== 'solicitado'" class="btn mx-2" style="background-color: #caff42;" (click)="rechazarTurno(reseniaInput.value)">Rechazar</button>

        </div>


        <hr>
        <div *ngIf="esPaciente && resenias!=undefined && resenias.length>0">
            <h4 class="text-center">Turnos Cancelados: </h4>
            <div *ngFor="let item of resenias">
                <p>ID Turno: {{item.id}} - <b class="text-danger">Comentario: {{item.resenia}}</b></p>
            </div>
        </div>


        <br/>
            <div class="row justify-content-center">
                <h4 class="text-center">Filtrar tablas </h4>

                <div class="form-group col-4" *ngIf="especialidades != undefined && especialidades.length > 0">
                    <h5 for="especialidad">Especialidad</h5>
                    <div multiple id="especialidad" class="form-control" style="background-color: #88abc2;">
                      <ng-container *ngFor="let especialidad of especialidades">
                        <ng-container *ngFor="let item of especialidad.especialidades">
                          <input type="radio" [value]="item" name="especialidadSeleccionada" (change)="filtrarTablaEspecialidad(item)">
                          {{ item }}<br/>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>


                <div class="form-group col-4" *ngIf="esPaciente && especialistas!= undefined && especialistas.length > 0 ">
                    <h5 for="especialista">Especialista</h5>

                    <div  id="especialista" class="form-control" style="background-color: #88abc2;">
                        <ng-container *ngFor="let item of especialistas">
                            <input type="radio" name="especialista" [value]="item" (change)="filtrarTablaEspecialista(item.id)">{{ item.nombre }} {{item.apellido}} - {{item.id}}<br/>
                        </ng-container>
                    </div>

                </div>

                <div class="form-group col-4" *ngIf="!esPaciente  && especialistas!= undefined && especialistas.length > 0 ">
                    <h5 for="pacientes">Pacientes</h5>

                    <div  id="pacientes" class="form-control" style="background-color: #88abc2;">
                        <ng-container *ngFor="let item of pacientes">
                            <input type="radio" name="pacientes" [value]="item" (change)="filtrarTablaPacientes(item.id)">{{ item.nombre }} {{item.apellido}}<br/>
                        </ng-container>
                    </div>

                </div>
            </div>


        <br/><br/>












    </div>
</body>