<body>
  <div class="container">

      <app-navbar></app-navbar>
      <br/><br/>
      <h3 class="text-center text-dark">Tus Turnos</h3>
      <br/>


      <div class="row mb-4">
        <div class="col-3"></div>
        
        <div class="col-6">

              <div class="row"> 
                  <div class="card ">
                    <div class="card-body">
                      <h5 class="card-title">Filtrar tabla</h5>
                      <input class="form-control mt-2" name="detalleFiltro" type="text" [(ngModel)]="detalleFiltro" (keyup.enter)="filtrarTabla()">
                    </div>
                  </div>
                </div>
            <div style="text-align: center;">
            <button class="btn btn-sm btn-danger mt-3 mb-2" (click)="eliminarFiltro()">Eliminar Filtros</button>
          </div>
          </div>

 
        <div class="col-3"></div>


      </div>

      <div style="max-height: 500px; overflow-y: auto;">
        <table class="table table-bordered table-light table-striped table-responsive">
        <thead>
          <tr>
            <th style="background-color: #49708a;" scope="col">#</th>
            <th class="text-center" style="background-color: #49708a;" *ngFor="let key of turnosKeys" scope="col">{{ key }}</th>
            <th class="text-center" style="background-color: #49708a;" scope="col">Historia Clínica</th>
          </tr>
        </thead>
        <tbody *ngIf="tablaFiltrada != undefined && tablaFiltrada.length > 0">
          <tr *ngFor="let turno of tablaFiltrada; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td *ngFor="let key of turnosKeys" (click)="seleccionarTurno(turno)">
              <ng-container *ngIf="key == 'reseñaCancelacion'; else otherContent">
                <p class="text-danger">{{ turno[key] }}</p>
              </ng-container>
              <ng-template #otherContent>
                <ng-container *ngIf="key == 'estado'">
                  <b>{{ turno[key] }}</b>
                </ng-container>
                <ng-container *ngIf="key !== 'estado' && key !== 'reseniasCancelacion'">
                  {{ turno[key] }}
                </ng-container>
              </ng-template>
            </td>
            <td>
              <ng-container *ngIf="mostrarHistoriaClinica(turno)">
                <div class="historia-clinica-container">
                  <ul *ngFor="let historia of encontrarUsuario(turno.pacienteId).historiaClinica">
                    <!-- Detalles de la historia clínica -->
                    <li>Altura: {{ historia.altura }}</li>
                    <li>Peso: {{ historia.peso }}</li>
                    <li>Presión: {{ historia.presion }}</li>
                    <li>Temperatura: {{ historia.temperatura }}</li>
                    <li *ngFor="let detalle of historia.detalles">
                      {{ detalle.dato }} - {{ detalle.descripcion }}
                    </li>
                    <p class="text-center text-muted">________________________</p>
                  </ul>
                </div>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
      </div> 

      <br/><br/>
      <div *ngIf="esPaciente && !mostrarCalificacion && turnoSeleccionado?.estado == 'solicitado'" style="text-align: center;">
         
          <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="reseña" style="background-color: #ddd;">Reseña  </span>
              </div>
              <input type="text" class="form-control" #reseniaInput aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>

          <div style="text-align: center;">
          <button *ngIf="turnoSeleccionado.estado== 'solicitado'" class="btn btn-danger mx-2 btn-lg"  (click)="cancelarTurno(reseniaInput.value)">Cancelar</button>
        </div>
      </div>

      

      <div *ngIf=" turnoSeleccionado!= undefined && !esPaciente && turnoSeleccionado.estado.toLowerCase()== 'solicitado'">
        
        <div class="input-group input-group-sm mb-3"  >
          <div class="input-group-prepend">
            <span class="input-group-text" id="reseña" style="background-color: #ddd;">Reseña  </span>
          </div>
          <input type="text" class="form-control" #reseniaInput aria-label="Small" aria-describedby="inputGroup-sizing-sm">

        </div>

          <p class="text-danger"><b>{{mensajeError}}</b></p>
          <div style="text-align: center;">
            <button  class="btn mx-2 btn-success btn-lg"  (click)="aceptarTurno()">Aceptar</button>
            <button class="btn mx-2 btn-danger  btn-lg" (click)="rechazarTurno(reseniaInput.value)">Rechazar</button>
          </div>  
      </div>


      <div *ngIf="  turnoSeleccionado!= undefined  && !esPaciente &&  turnoSeleccionado.estado.toLowerCase()== 'aceptado'">
          <div class="input-group input-group-sm mb-3"  >
            <div class="input-group-prepend">
              <span class="input-group-text" id="reseña" style="background-color: #ddd;">Reseña  </span>
            </div>
            <input type="text" class="form-control" #reseniaInput aria-label="Small" aria-describedby="inputGroup-sizing-sm">

          </div>
          
          <div class="input-group input-group-sm mb-3" >
              <div class="input-group-prepend">
                <span class="input-group-text" id="diagnostico" style="background-color: #ddd;">Diagnóstico  </span>
              </div>
              <input type="text" class="form-control" #diagnosticoInput aria-label="Small" aria-describedby="inputGroup-sizing-sm">

          </div>

          <p class="text-danger"><b>{{mensajeError}}</b></p>

          <div style="text-align: center;">
            <button  *ngIf="turnoSeleccionado.estado.toLowerCase()== 'aceptado'" class="btn mx-2 btn-primary btn-lg" (click)="finalizarTurno(reseniaInput.value, diagnosticoInput.value)">Finalizar</button>
            <button *ngIf="turnoSeleccionado.estado.toLowerCase()== 'aceptado'" class="btn mx-2 btn-danger  btn-lg"  (click)="cancelarTurno(reseniaInput.value)">Cancelar</button>
          </div>  
      </div>


     

      <div *ngIf="mostrarCalificacion && esPaciente" class="card" style="text-align: center; background-color: #88abc2;" >
          
          <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="reseña" style="background-color: #ddd;">Reseña  </span>
              </div>
              <input type="text" class="form-control" #reseniaInput aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          
          <p><b>Califica la atención del especialista:</b></p>
          <div class="card-body">
              <img (click)="seleccionarPuntuacion(1)" [src]="puntuacion >= 1 ? 'assets/img/full-star.png' : 'assets/img/empty-star.png'" alt="" width="50">
              <img (click)="seleccionarPuntuacion(2)" [src]="puntuacion >= 2 ? 'assets/img/full-star.png' : 'assets/img/empty-star.png'" alt="" width="50">
              <img (click)="seleccionarPuntuacion(3)" [src]="puntuacion >= 3 ? 'assets/img/full-star.png' : 'assets/img/empty-star.png'" alt="" width="50">
              <img (click)="seleccionarPuntuacion(4)" [src]="puntuacion >= 4 ? 'assets/img/full-star.png' : 'assets/img/empty-star.png'" alt="" width="50">
              <img (click)="seleccionarPuntuacion(5)" [src]="puntuacion >= 5 ? 'assets/img/full-star.png' : 'assets/img/empty-star.png'" alt="" width="50">
          </div>


          <div style="text-align: center;">
          <button  class="btn mx-2 btn-success" style="width: 100px;" (click)="aceptar(reseniaInput.value)">Aceptar</button>
          </div>
          <br/><br/>
      </div>


      <div *ngIf=""></div>


    


      <br/>
         


  </div>
</body>