<body>
  <div class="container">

      <app-navbar></app-navbar>
      <br/><br/>
      <h3 class="text-center text-dark">Tus Turnos</h3>
      <br/>


      <div class="row mb-4">
        <div class="col-12" style="text-align: center;">
          <div class="card">
            <h5 class="card-header text-center" style="background-color: #397c9e;">Filtrar Tabla</h5>
            <div class="card-body" style="background-color: #eee;">

              <div class="row">
              <div class="col-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Estado</h5>
                    
                      <div class="radio-buttons-container" *ngFor="let estado of estadosFiltro">
                      <input name="filtro" type="radio" [value]="estado" [(ngModel)]="opcionFiltro" (change)="filtrarTabla('estado')"> {{    estado }} <br />

                  </div>
                  </div>
                </div>
              </div>
              

              <div class="col-3">

                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Especialidad</h5>
                      <div *ngIf="especialidades != undefined && especialidades.length > 0" id="especialidad">
                        <ng-container *ngFor="let especialidad of especialidades">
                          <ng-container *ngFor="let item of especialidad.especialidades">
                            <input name="filtro" type="radio" [value]="item" [(ngModel)]="opcionFiltro" (change)="filtrarTabla('especialidad')"> {{ item }} <br />
                          </ng-container>
                        </ng-container>
                      </div>
                  </div>
                </div>
              </div>  

              <div class="col-3">

                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Dia</h5>
                    <input name="filtro" type="text" [(ngModel)]="opcionFiltro" (change)="filtrarTabla('dia')">  <br />

                  </div>
                </div>

                <div class="card mt-2">
                  <div class="card-body">
                    <h5 class="card-title">Horario</h5>
                    <input name="filtro" type="text" [(ngModel)]="opcionFiltro" (change)="filtrarTabla('horario')">  <br />

                  </div>
                </div>

              </div>

              <div class="col-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Historia Clinica</h5>
                    <label for="alturaFiltro">Altura</label>
                    <input name="alturaFiltro" type="text" [(ngModel)]="alturaFiltro" (change)="filtrarTabla('altura')"> <br />
              
                    <label for="pesoFiltro">Peso</label>
                    <input name="pesoFiltro" type="text" [(ngModel)]="pesoFiltro" (change)="filtrarTabla('peso')"> <br />
              
                    <label for="presionFiltro">Presión</label>
                    <input name="presionFiltro" type="text" [(ngModel)]="presionFiltro" (change)="filtrarTabla('presion')"> <br />
              
                    <label for="detalleFiltro">Detalle</label>
                    <input name="detalleFiltro" type="text" [(ngModel)]="detalleFiltro" (change)="filtrarTabla('detalle')"> <br />
                  </div>
                </div>
              </div>


              </div>
              <button class="btn btn-sm btn-danger mt-3 mb-2" (click)="eliminarFiltro()">Eliminar Filtros</button>

            </div>

          </div>
        </div>


      </div>


      <table class="table table-bordered table-light table-striped">
        <thead>
          <tr>
            <th style="background-color: #49708a;" scope="col">#</th>
            <th class="text-center" style="background-color: #49708a;" *ngFor="let key of turnosKeys" scope="col">{{ key }}</th>
            <th class="text-center" style="background-color: #49708a;" scope="col">Historia Clínica</th>
          </tr>
        </thead>
        <tbody *ngIf="tablaFiltrada != undefined && tablaFiltrada.length > 0">
          <tr *ngFor="let turno of tablaFiltrada; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td *ngFor="let key of turnosKeys" (click)="seleccionarTurno(turno)">
              <ng-container *ngIf="key == 'estado'">
                <b>{{ turno[key] }}</b>
              </ng-container>
              <ng-container *ngIf="key !== 'estado'">
                {{ turno[key] }}
              </ng-container>
            </td>
            <td>
              <ng-container *ngIf="mostrarHistoriaClinica(turno)">
                <ul *ngFor="let historia of encontrarUsuario(turno.pacienteId).historiaClinica">
                  <li>Altura: {{ historia.altura }}</li>
                  <li>Peso: {{ historia.peso }}</li>
                  <li>Presión: {{ historia.presion }}</li>
                  <li>Temperatura: {{ historia.temperatura }}</li>
                  <!-- Agregar más campos según sea necesario -->
                  <li *ngFor="let detalle of historia.detalles">
                    {{ detalle.dato }} - {{ detalle.descripcion }}
                  </li>
                  <li>-----------------------------------</li>
                </ul>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="esPaciente && !mostrarCalificacion && turnoSeleccionado?.estado == 'solicitado'" style="text-align: center;">
         
          <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="reseña" style="background-color: #ddd;">Reseña  </span>
              </div>
              <input type="text" class="form-control" #reseniaInput aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>

          <button *ngIf="turnoSeleccionado.estado== 'solicitado'" class="btn mx-2" style="background-color: #caff42;" (click)="cancelarTurno(reseniaInput.value)">Cancelar</button>

      </div>

      

      <div *ngIf="mostrarDivEspecialista">
          <div class="input-group input-group-sm mb-3"  >
            <div class="input-group-prepend">
              <span class="input-group-text" id="reseña" style="background-color: #ddd;">Reseña  </span>
            </div>
            <input type="text" class="form-control" #reseniaInput aria-label="Small" aria-describedby="inputGroup-sizing-sm">

          </div>
          
          <div class="input-group input-group-sm mb-3" >
              <div class="input-group-prepend">
                <span class="input-group-text" id="diagnostico" style="background-color: #ddd;">Diagnóstico  </span>
              </div>
              <input type="text" class="form-control" #diagnosticoInput aria-label="Small" aria-describedby="inputGroup-sizing-sm">

          </div>

          <button *ngIf="turnoSeleccionado.estado.toLowerCase()== 'solicitado'" class="btn mx-2" style="background-color: #caff42;" (click)="cancelarTurno(reseniaInput.value)">Cancelar</button>
          <button *ngIf="turnoSeleccionado.estado.toLowerCase()== 'solicitado'" class="btn mx-2" style="background-color: #caff42;" (click)="rechazarTurno(reseniaInput.value)">Rechazar</button>
          <button  *ngIf="turnoSeleccionado.estado.toLowerCase()== 'aceptado'" class="btn mx-2" style="background-color: #caff42;" (click)="finalizarTurno(reseniaInput.value, diagnosticoInput.value)">Finalizar</button>
          <button *ngIf="turnoSeleccionado.estado.toLowerCase()== 'solicitado'" class="btn mx-2" style="background-color: #caff42;" (click)="aceptarTurno()">Aceptar</button>

          <p class="text-danger" *ngIf="mensajeError!=''"><b>{{mensajeError}}</b></p>
        
          


      </div>

      <div *ngIf="mostrarCalificacion && esPaciente" class="card" style="text-align: center; background-color: #88abc2;" >
          
          <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="reseña" style="background-color: #ddd;">Reseña  </span>
              </div>
              <input type="text" class="form-control" #reseniaInput aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          
          <p><b>Califica la atención del especialista:</b></p>
          <div class="card-body">
              <img (click)="seleccionarPuntuacion(1)" [src]="puntuacion >= 1 ? 'assets/img/full-star.png' : 'assets/img/empty-star.png'" alt="" width="50">
              <img (click)="seleccionarPuntuacion(2)" [src]="puntuacion >= 2 ? 'assets/img/full-star.png' : 'assets/img/empty-star.png'" alt="" width="50">
              <img (click)="seleccionarPuntuacion(3)" [src]="puntuacion >= 3 ? 'assets/img/full-star.png' : 'assets/img/empty-star.png'" alt="" width="50">
              <img (click)="seleccionarPuntuacion(4)" [src]="puntuacion >= 4 ? 'assets/img/full-star.png' : 'assets/img/empty-star.png'" alt="" width="50">
              <img (click)="seleccionarPuntuacion(5)" [src]="puntuacion >= 5 ? 'assets/img/full-star.png' : 'assets/img/empty-star.png'" alt="" width="50">
          </div>


          <div style="text-align: center;">
          <button  class="btn mx-2" style="background-color: #caff42; width: 100px;" (click)="aceptar(reseniaInput.value)">Aceptar</button>
          </div>
          <br/><br/>
      </div>


      <div *ngIf=""></div>


      <div *ngIf="resenias!=undefined && resenias.length>0">
        <hr>

          <h4 class="text-center">Turnos Cancelados: </h4>
          <div *ngFor="let item of resenias">
              <p>{{item.dia}} {{item.horario}} - {{item.especialidad}} - Comentario: <b class="text-danger">{{item.resenia}}</b></p>
          </div>
      </div>


      <br/>
         


  </div>
</body>