<body >
    <div class="container" >
        <form class="needs-validation" *ngIf="form" [formGroup]="form">
            <br />
            <h4 class="text-dark text-center">Registro Especialista</h4>
            <br />
           
            <div class="row mx-3">
                <div class="form-group col-md-6">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre"  autocomplete="off"  formControlName="nombre">
                </div>
                <br />
                <div class="form-group col-md-6">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido"  autocomplete="off" formControlName="apellido"> 
                </div>
                <br />
            </div>

            <div class="row mt-4 mx-3">

                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="ejemplo@email.com" autocomplete="off"  formControlName="email">
                </div>
                <br />
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="1-8 caracteres" autocomplete="off" formControlName="password">
                </div>


            
            </div>

            <div class="row mt-4 mx-3">


                <div class="form-group col-md-3">
                    <label for="Edad">Edad</label>
                    <input type="number" class="form-control" id="edad" placeholder="1-100" autocomplete="off"  formControlName="edad"> 
                </div>

                <div class="form-group col-md-6">
                    <label for="especialidad">Especialidad</label>
                    <select *ngIf="listadoEspecialidades!= undefined && listadoEspecialidades.length>0 " id="especialidad" class="form-control" (change)="selectChange($event)" formControlName="especialidad">
                        <option [value]="" disabled selected>Selecciona una especialidad</option>
                        <option [value]="otra">Otra</option>

                        <ng-container *ngFor="let especialidad of listadoEspecialidades">
                          <ng-container *ngFor="let item of especialidad.especialidades">
                            <option [value]="item">{{ item }}</option>

                          </ng-container>
                        </ng-container>
                    </select>
                </div>

                <div class="form-group col-md-3">
                    <label for="dni">DNI</label>
                    <input type="text" class="form-control" id="dni" autocomplete="off" formControlName="dni">
                </div>
            
            </div>

            <div class="row mt-4 mx-3" *ngIf="nuevaEspecialidad">

                <div class="form-group col-md-6">
                    <label>Especialidad</label>
                    <input type="text" class="form-control" autocomplete="off"  formControlName="especialidad">
               
                </div>

            </div>

            <br />

            <p class="text-danger text-center" *ngIf="mensajeError.length>0">Campos inválidos: {{ mensajeError.join(', ') }}</p>

            <hr class="my-4">

            <p class="text-success" *ngIf="mensajeExito!='' ">{{mensajeExito}}</p>

            <div style="text-align: center;">
                <button class="btn" (click)="aceptar()" style="background-color: #caff42;">Enviar Datos</button>
              </div>

            <hr class="my-4">

            <br /><br />
        </form>
    </div>
</body>