<body>
    <div class="container">
        <br/><br/>
        <h1 class="text-dark text-center">Bienvenido</h1>
        <br/>
        <h2 class="text-light text-center" >Sistema de Gestión de Turnos de La Clinica</h2>



        <div class="d-flex justify-content-center align-items-center mt-5" >
            <div class="card text-center" style="width: 30rem;">
              <div class="card-header">
                Opciones de Ingreso
              </div>
              <div class="card-body">
                <h5 class="card-title">A dónde desea redirigirse?</h5>
                <a routerLink="/login" class="btn btn-primary mx-3">Login</a>
                <a routerLink="/registro" class="btn btn-primary">Registro</a>
              </div>
            </div>
        </div>


        <div class="adminIconContainer" (click)="ruteoSeccionUsuarios()" style="background-color: rgb(159, 241, 242);">
          <img src="../../../assets/img/admin.png" alt="" class="adminIcon" >
        </div>

    </div>
</body>