<body>
    <div class="container">
        <br/><br/>
        <h1 class="text-center" style="color: #000000;">Bienvenido</h1>
        <br/>
        <h2 class="text-center" style="color: #000000;">Sistema de Gestión de Turnos de La Clinica</h2>



        <div class="d-flex justify-content-center align-items-center mt-5" >
            <div class="card text-center" style="width: 30rem;">
              <div class="card-header" >
                <b>A dónde desea redirigirse?</b>
              </div>
              <div class="card-body">
                <button routerLink="/login" class="btn  mx-3" style=" background-color: #caff42;">Login</button>
                <button routerLink="/registro" class="btn" style=" background-color: #caff42;">Registro</button>
              </div>
            </div>
        </div>


      

    </div>
</body>