<body>    
  <div class="container">
    
    
    <div class="row">
      <div class="col">
      </div>
      
      
      <div class="col-6">
        <div class="card text-center mt-5">
          <h5 class="card-header">Confirmación de Email</h5>
          <div class="card-body">
            <h5 class="card-title">Email de Verificación</h5>
            <p class="card-text">Se ha enviado el mail de verificacion al email que ha proporcionado.</p>
            <a (click)="reenviarEmail()" class="btn btn-primary mx-3">Reenviar Email</a>
            <a routerLink="/bienvenida" class="btn btn-primary">Volver al Home</a>
        
          </div>
        </div>

      </div>
      <div class="col">
      </div>

    </div>
  
  
  </div>
</body>



